/**
 * @tokens Breakpoints
 * @presenter Breakpoint
 */

$screen-xxs: 320px; /* Extra Extra Small Devices, Phones */
$screen-xs: 480px; /* Extra Extra Small Devices, Phones */
$screen-sm: 768px; /* Small Devices, Tablets */
$screen-m: 992px; /* Medium Devices, Desktops */
$screen-l: 1200px; /* Medium Devices, Desktops */
$screen-lg: 1800px; /* Large Devices, Wide Screens */
