// Extra Extra Small Devices, Phones
$screen-xxs: 320px;

// Extra Small Devices, Phones
$screen-xs: 480px;

// Small Devices, Tablets
$screen-sm: 768px;

// Medium Devices, Desktops
$screen-m: 992px;

// Intermediate Devices
$screen-l: 1200px;

// Large Devices, Wide Screens
$screen-lg: 1800px;
