/**
 * @tokens Colors
 * @presenter Color
 */

$mc--med: blue; /* Main color */
$ac--1: pink; /* Accent color 1 */
$ac--2: cornflowerblue; /* Accent color 2 */
$nc--00: #ffffff; /* Neutral color 00 */
$nc--100: #000000; /* Neutral color 100 */
$uc--positive: green; /* Utility color positive */
$uc--caution: orange; /* Utility color caution */
$uc--warning: red; /* Utility color warning */

/**
 * @tokens Transitions
 * @presenter Transition
 */
$tr--s: all .3s ease;
$tr--m: all .5s ease;
