// VARIABLES

/////// COLORS //////
// Main colors
$mc--med: blue;

// Accent colors
$ac--1: pink;
$ac--2: cornflowerblue;

// Neutral colors
$nc--00: #ffffff;
$nc--100: #000000;

// Utility colors
$uc--positive: green;
$uc--caution: orange;
$uc--warning: red;


/////// SPACING ///////

/////// BORDER-RADIUS ///////

/////// BOX SHADOWS ///////

/////// CONTAINERS ///////

/////// TRANSITIONS ///////
$tr--s: all .3s ease;
$tr--m: all .5s ease;
